.image img  {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a[href="index.html"] {
    display: flex;
    align-items: center;
}
#main-content-wrapper {
    overflow-x: hidden !important;
}
.top-nav {
    display: flex;
    align-items: center;
}
.menu {
    position: relative;
    right: -76vw;
}
html, body {
    overflow-y: hidden !important;
}
footer {
    display: none;
}